.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.log
*.tmp

**/build/
**/__pycache__/

symchestra_experiments/
featmaker_experiments/
experiments/
results/coverage/
results/bugs/
results/raw/

.vscode/
.idea/
